## Preprocessing

In [95]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf


#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [96]:
cons_check = application_df['SPECIAL_CONSIDERATIONS'].value_counts()
cons_check

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [97]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(['EIN','NAME'],axis = 1,inplace= True)
application_df.head(5)

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [98]:
# Determine the number of unique values in each column.
categories = application_df.dtypes.index.tolist()
application_df[categories].nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [99]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [100]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<600].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
Other      804
T8         737
T7         725
Name: APPLICATION_TYPE, dtype: int64

In [101]:
# Look at CLASSIFICATION value counts for binning
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [102]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classes = application_df['CLASSIFICATION'].value_counts()
classes

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [103]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classes[classes<300].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [104]:
# Convert categorical data to numeric with `pd.get_dummies`
df = pd.get_dummies(application_df)
df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [105]:
# Split our preprocessed data into our features and target arrays
yy = df['IS_SUCCESSFUL']
xx = df.drop(['IS_SUCCESSFUL'],axis=1)

# Split the preprocessed data into a training and testing dataset
X_train,X_test,Y_train,Y_test = train_test_split(xx,yy,random_state=0)

In [106]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [107]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
first_layer = 10
second_layer = 50
third_layer = 5
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=first_layer, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=second_layer, activation="relu"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=third_layer,activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1,activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_24 (Dense)            (None, 10)                440

 dense_25 (Dense)            (None, 50)                550

 dense_26 (Dense)            (None, 5)                 255

 dense_27 (Dense)            (None, 1)                 6

=================================================================
Total params: 1,251
Trainable params: 1,251
Non-trainable params: 0
_________________________________________________________________

In [108]:
# Compile the model
nn.compile(loss="binary_crossentropy",optimizer="sgd",metrics=['binary_accuracy'])

In [109]:
# Train the model
fit = nn.fit(X_train_scaled,Y_train,epochs = 100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.6635 - binary_accuracy: 0.6403
Epoch 2/100
804/804 [==============================] - 2s 3ms/step - loss: 0.6148 - binary_accuracy: 0.7054
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5845 - binary_accuracy: 0.7142
Epoch 4/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5729 - binary_accuracy: 0.7214
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5664 - binary_accuracy: 0.7235
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5623 - binary_accuracy: 0.7258
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5601 - binary_accuracy: 0.7259
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5581 - binary_accuracy: 0.7278
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5568 - binary_accuracy: 0.7293
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5557 - binary_accuracy: 0.7283
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5548 - binary_accuracy: 0.7297
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5540 - binary_accuracy: 0.7288
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - binary_accuracy: 0.7298
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5529 - binary_accuracy: 0.7293
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5522 - binary_accuracy: 0.7293
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5516 - binary_accuracy: 0.7297
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5512 - binary_accuracy: 0.7304
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5508 - binary_accuracy: 0.7307
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5505 - binary_accuracy: 0.7312
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5500 - binary_accuracy: 0.7308
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5497 - binary_accuracy: 0.7317
Epoch 22/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5496 - binary_accuracy: 0.7319
Epoch 23/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5493 - binary_accuracy: 0.7322
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5490 - binary_accuracy: 0.7324
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5487 - binary_accuracy: 0.7339
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5486 - binary_accuracy: 0.7328
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5483 - binary_accuracy: 0.7327
Epoch 28/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5480 - binary_accuracy: 0.7330
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5478 - binary_accuracy: 0.7341
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - binary_accuracy: 0.7332
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5477 - binary_accuracy: 0.7336
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5473 - binary_accuracy: 0.7325
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5471 - binary_accuracy: 0.7341
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5467 - binary_accuracy: 0.7335
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - binary_accuracy: 0.7337
Epoch 36/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5466 - binary_accuracy: 0.7346
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5466 - binary_accuracy: 0.7345
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5465 - binary_accuracy: 0.7347
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - binary_accuracy: 0.7344
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5460 - binary_accuracy: 0.7340
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5461 - binary_accuracy: 0.7346
Epoch 42/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5459 - binary_accuracy: 0.7345
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5457 - binary_accuracy: 0.7347
Epoch 44/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5455 - binary_accuracy: 0.7341
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5455 - binary_accuracy: 0.7345
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5453 - binary_accuracy: 0.7348
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5454 - binary_accuracy: 0.7341
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5451 - binary_accuracy: 0.7343
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - binary_accuracy: 0.7340
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5447 - binary_accuracy: 0.7343
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5449 - binary_accuracy: 0.7345
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - binary_accuracy: 0.7348
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5445 - binary_accuracy: 0.7354
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - binary_accuracy: 0.7350
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - binary_accuracy: 0.7352
Epoch 56/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5444 - binary_accuracy: 0.7353
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5443 - binary_accuracy: 0.7348
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5442 - binary_accuracy: 0.7349
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5439 - binary_accuracy: 0.7351
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5440 - binary_accuracy: 0.7348
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - binary_accuracy: 0.7357
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5438 - binary_accuracy: 0.7357
Epoch 63/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5437 - binary_accuracy: 0.7355
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - binary_accuracy: 0.7347
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5436 - binary_accuracy: 0.7355
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - binary_accuracy: 0.7363
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - binary_accuracy: 0.7349
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5434 - binary_accuracy: 0.7352
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5434 - binary_accuracy: 0.7356
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - binary_accuracy: 0.7349
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - binary_accuracy: 0.7360
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5431 - binary_accuracy: 0.7362
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - binary_accuracy: 0.7359
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5430 - binary_accuracy: 0.7357
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - binary_accuracy: 0.7353
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5427 - binary_accuracy: 0.7358
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - binary_accuracy: 0.7365
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - binary_accuracy: 0.7364
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - binary_accuracy: 0.7358
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - binary_accuracy: 0.7358
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5427 - binary_accuracy: 0.7363
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5424 - binary_accuracy: 0.7364
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5425 - binary_accuracy: 0.7365
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5424 - binary_accuracy: 0.7364
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - binary_accuracy: 0.7355
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - binary_accuracy: 0.7357
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - binary_accuracy: 0.7366
Epoch 88/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5419 - binary_accuracy: 0.7365
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - binary_accuracy: 0.7369
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5422 - binary_accuracy: 0.7362
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - binary_accuracy: 0.7360
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - binary_accuracy: 0.7371
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5417 - binary_accuracy: 0.7369
Epoch 94/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5421 - binary_accuracy: 0.7364
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5418 - binary_accuracy: 0.7363
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - binary_accuracy: 0.7359
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - binary_accuracy: 0.7356
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - binary_accuracy: 0.7379
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5418 - binary_accuracy: 0.7375
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - binary_accuracy: 0.7373

In [110]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,Y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5583 - binary_accuracy: 0.7251 - 508ms/epoch - 2ms/step
Loss: 0.558282196521759, Accuracy: 0.7251312136650085

In [111]:
# Export our model to HDF5 file
nn.save('Models/Charity12.h5')